   body {
       padding: 0;
       margin: 0;
   }

html,
body,
#map{
    height: 100%;
    width: 100%;
    bottom: 0;
}

#export {
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 999;
    background: white;
    color: black;
    position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;adding: 6px;
    border-radius: 4px;
    font-family: 'Helvetica Neue';
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;
    top: 90px;
}